<a href="https://colab.research.google.com/github/wiiiiish/2022-machine_learning/blob/main/LSTM_RNN_%EB%AA%A8%EB%8D%B8_(%EC%98%88%EC%B8%A1%EB%AA%A8%EB%8D%B8)_0513.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
!ls

drive  sample_data

In [4]:
%cd drive/MyDrive/Colab\ Notebooks/2022-05-13\ 모델\ 생성\ 작업

/content/drive/MyDrive/Colab Notebooks/2022-05-13 모델 생성 작업

In [5]:
# import library
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
import pickle

from tensorflow.keras import optimizers
from tensorflow.keras.utils import plot_model
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.layers import Conv1D, MaxPool1D
from tensorflow.keras.layers import Dense, LSTM, RepeatVector, TimeDistributed, Flatten

from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot

%matplotlib inline
warnings.filterwarnings("ignore")
init_notebook_mode(connected=True)

# Set seeds to make the experiment more reprodecible
from tensorflow.compat.v1 import set_random_seed
from numpy.random import seed
set_random_seed(1)
seed(1)

In [8]:
test_X = pd.read_csv('./data/new_X_test.csv', encoding='utf-8')
test_y = pd.read_csv('./data/new_y_test.csv', encoding='utf-8')
train_X = pd.read_csv('./data/new_X_train.csv', encoding='utf-8')
train_y = pd.read_csv('./data/new_y_train.csv', encoding='utf-8')

In [10]:
train_X = train_X.drop(train_X.columns[0], axis=1)
train_X.iloc[360, :]

temperature          19.619841
precipitation         0.000000
wind_speed            0.640395
humidity             98.912399
radiation             0.000000
total_cloudiness      7.415161
visibility          653.974524
ground_temp          20.127291
now_aod               0.000000
before_hour_aod       0.000000
Name: 360, dtype: float64

In [11]:
train_y = train_y.drop(train_y.columns[0], axis=1)
train_y

       aod
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
...    ...
68756  0.0
68757  0.0
68758  0.0
68759  0.0
68760  0.0

[68761 rows x 1 columns]

In [12]:
X = np.array(train_X)
X

array([[19.86437382,  0.        ,  0.82248939, ..., 20.42906155,
         0.        ,  0.        ],
       [19.90810568,  0.        ,  0.88339129, ..., 20.59108412,
         0.        ,  0.        ],
       [20.02728917,  0.        ,  0.82892439, ..., 20.36515904,
         0.        ,  0.        ],
       ...,
       [18.92308743,  0.1249926 ,  0.02801933, ..., 20.53924102,
         0.        ,  0.        ],
       [18.92818522,  0.03832407,  0.08725535, ..., 20.66934907,
         0.        ,  0.        ],
       [18.87309267,  0.24493077,  0.67007258, ..., 20.51350591,
         0.        ,  0.        ]])

In [13]:
X.shape

(68761, 10)

In [14]:
temp = []
for i in range(len(X)-360):
  for j in range(360):
    temp.append(X[i+j])
train_data = np.array(temp)
train_data.shape

(24624360, 10)

In [15]:
X_train = train_data.reshape(68401,360,10)
X_train.shape

(68401, 360, 10)

In [16]:
y = train_y.iloc[360:, :]
y

       aod
360    0.0
361    0.0
362    0.0
363    0.0
364    0.0
...    ...
68756  0.0
68757  0.0
68758  0.0
68759  0.0
68760  0.0

[68401 rows x 1 columns]

In [17]:
y_train = np.array(y)
print(y_train.shape)
y_train

(68401, 1)

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]])

In [18]:
model_lstm_v2 = Sequential()
model_lstm_v2.add(LSTM(50, activation='tanh', input_shape=(360, 10)))
model_lstm_v2.add(Dense(1))
model_lstm_v2.compile(loss='mae', optimizer='Adam', metrics = ['mae','accuracy'])

In [ ]:
model_lstm_v2.fit(X_train,y_train,epochs = 50)

In [ ]:
model_lstm_v2.save('./lstm_model_v2.h5')

In [ ]:
from tensorflow.keras.layers import SimpleRNN

In [ ]:
model_rnn_v2 = Sequential()
model_rnn_v2.add(SimpleRNN(50, input_shape = (360,10)))
model_rnn_v2.add(Dense(1))
model_rnn_v2.compile(loss='mae', optimizer='Adam', metrics = ['mae', 'accuracy'])

In [ ]:
model_rnn_v2.fit(X_train,y_train,epochs = 50)

In [ ]:
model_rnn_v2.save('./rnn_model_v2.h5')