<a href="https://colab.research.google.com/github/wiiiiish/2022-machine_learning/blob/main/s_aod_pred_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!ls

drive  sample_data

In [4]:
%cd drive/MyDrive/Colab\ Notebooks/2022-04-27\ 데이터

/content/drive/MyDrive/Colab Notebooks/2022-04-27 데이터

In [9]:
import pandas as pd
from sklearn.linear_model import LinearRegression # 회귀 모델
from sklearn.metrics import mean_absolute_error # 평균 절대값 오차 (평가)

In [7]:
s_pred_model = LinearRegression()

In [8]:
weather = pd.read_csv('./data/weather_0504.csv', encoding='utf-8')
weather

,date_time,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp
0,60010,18.393009,0,0.626055,99.077047,0.0,5.383689,1406.307589,20.587329
1,60020,18.123292,0,0.666385,98.931846,0.0,5.378191,1520.985931,20.922063
2,60030,18.382198,0,0.640155,98.910705,0.0,5.807724,1583.682653,20.663506
3,60040,18.113827,0,0.706955,98.936457,0.0,5.654719,1854.592384,21.152932
4,60050,18.202366,0,0.633896,98.969637,0.0,7.202626,1839.823058,20.929866
...,...,...,...,...,...,...,...,...,...
6475,235920,20.909291,0,0.599932,98.880567,0.0,4.520217,2000.051929,21.741344
6476,235930,20.936641,0,0.700842,97.988625,0.0,3.351022,1999.959093,21.892433
6477,235940,21.026653,0,0.476452,98.094139,0.0,7.562219,2000.070217,21.786583
6478,235950,20.618271,0,0.761386,98.286580,0.0,8.309493,2000.065751,22.015353
6479,0,20.561767,0,0.749072,98.937978,0.0,4.624748,2000.017467,21.489114

In [ ]:
aod = pd.read_csv('./data/aod_0504.csv', encoding='utf-8')
aod

In [ ]:
# 문제와 답 분리
X = weather[['date_time', 'temperature', 'precipitation', 'wind_speed', 'humidity', 'radiation', 'total_cloudiness', 'visibility', 'ground_temp']]
y = aod['Power(kW) - Plot 0']

In [ ]:
# 훈련용과 평가용으로 데이터 분리
# 비율은 8:2, randomstate = 504
from sklearn.model_selection import train_test_split # 훈련용, 평가용으로 데이터 분리

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=504)
X_train.head()

In [ ]:
s_pred_model.fit(X_train, y_train)  # 지도학습 방법 (회귀)

In [ ]:
# 선형 모델이 입력 특성에 대해 학습한 가중치
s_pred_model.coef_

In [ ]:
# 절편
s_pred_model.intercept_

In [ ]:
# 모델 예측
s_pre = s_pred_model.predict(X_test)

In [ ]:
s_pred_model.score(X_test, y_test) # 평가용 문제, 평가용 답

In [ ]:
# 모델 저장
import pickle
with open('s_aod_pred_model.pickle', 'wb') as f:
    pickle.dump(s_pred_model, f, pickle.HIGHEST_PROTOCOL)

In [ ]:
# 모델 불러오기
with open('s_model.pickle', 'rb') as f:
    s_model = pickle.load(f)

In [ ]:
s_model.predict(X_test)