<a href="https://colab.research.google.com/github/wiiiiish/2022-machine_learning/blob/main/s_pred_220503.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!ls

drive  sample_data

In [2]:
%cd drive/MyDrive/Colab\ Notebooks/2022-04-27\ 데이터

/content/drive/MyDrive/Colab Notebooks/2022-04-27 데이터

In [4]:
!sudo apt-get install python3-dev default-libmysqlclient-dev
!pip install pymysql

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-libmysqlclient-dev is already the newest version (1.0.4).
default-libmysqlclient-dev set to manually installed.
python3-dev is already the newest version (3.6.7-1~18.04).
python3-dev set to manually installed.
The following packages were automatically installed and are no longer required:
  libnvidia-common-460 nsight-compute-2020.2.0
Use 'sudo apt autoremove' to remove them.
0 upgraded, 0 newly installed, 0 to remove and 42 not upgraded.
Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [7]:
import pandas as pd
import pymysql

In [10]:
from pymysql.converters import convert_bit
host = "project-db-stu.ddns.net"
port = 3307
username = "wish"
password = "1234"
db = 'wish'

conn = pymysql.connect(host=host, port=port, user=username, password=password, db=db)
sql_state = 'select * from s_member'

df = pd.read_sql_query(sql_state, conn)

In [11]:
df

,mem_id,mem_pw,mem_name,mem_addr,mem_phone,mem_purchase,mem_type,mem_joindate
0,mem_id 0001,mem_pw 0001,mem_name 0001,mem_addr 0001,mem_phone 0001,N,N,2022-04-26 17:32:31
1,mem_id 0002,mem_pw 0002,mem_name 0002,mem_addr 0002,mem_phone 0002,N,N,2022-04-26 17:32:31
2,mem_id 0003,mem_pw 0003,mem_name 0003,mem_addr 0003,mem_phone 0003,N,N,2022-04-26 17:32:31
3,mem_id 0004,mem_pw 0004,mem_name 0004,mem_addr 0004,mem_phone 0004,N,N,2022-04-26 17:32:31
4,mem_id 0005,mem_pw 0005,mem_name 0005,mem_addr 0005,mem_phone 0005,N,N,2022-04-26 17:32:31
...,...,...,...,...,...,...,...,...
1102,mem_id 1103,mem_pw 1103,mem_name 1103,mem_addr 1103,mem_phone 1103,N,N,2022-08-07 17:32:00
1103,mem_id 1104,mem_pw 1104,mem_name 1104,mem_addr 1104,mem_phone 1104,N,N,2022-08-08 17:32:00
1104,mem_id 1105,mem_pw 1105,mem_name 1105,mem_addr 1105,mem_phone 1105,N,N,2022-08-09 17:32:00
1105,mem_id 1106,mem_pw 1106,mem_name 1106,mem_addr 1106,mem_phone 1106,N,N,2022-08-10 17:32:00
1106,mem_id 1107,mem_pw 1107,mem_name 1107,mem_addr 1107,mem_phone 1107,N,N,2022-08-11 17:32:00