<a href="https://colab.research.google.com/github/wiiiiish/2022-machine_learning/blob/main/s_pred_model_0504.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!ls

drive  sample_data

In [2]:
%cd drive/MyDrive/Colab\ Notebooks/2022-04-27\ 데이터

/content/drive/MyDrive/Colab Notebooks/2022-04-27 데이터

In [4]:
!sudo apt-get install python3-dev default-libmysqlclient-dev
!pip install pymysql

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-libmysqlclient-dev is already the newest version (1.0.4).
default-libmysqlclient-dev set to manually installed.
python3-dev is already the newest version (3.6.7-1~18.04).
python3-dev set to manually installed.
The following packages were automatically installed and are no longer required:
  libnvidia-common-460 nsight-compute-2020.2.0
Use 'sudo apt autoremove' to remove them.
0 upgraded, 0 newly installed, 0 to remove and 42 not upgraded.
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.2 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [5]:
import pandas as pd
import pymysql

In [6]:
from pymysql.converters import convert_bit
host = "project-db-stu.ddns.net"
port = 3307
username = "wish"
password = "1234"
db = 'wish'

conn = pymysql.connect(host=host, port=port, user=username, password=password, db=db)

In [18]:
from sklearn.linear_model import LinearRegression # 회귀 모델

In [19]:
s_pred_model = LinearRegression()

In [33]:
weather = pd.read_csv('./data/weather_0504.csv', encoding='utf-8')
weather

,date_time,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp
0,60010,18.393009,0,0.626055,99.077047,0.00000,5.383689,1406.307589,20.587329
1,60020,18.123292,0,0.666385,98.931846,0.00000,5.378191,1520.985931,20.922063
2,60030,18.382198,0,0.640155,98.910705,0.00000,5.807724,1583.682653,20.663506
3,60040,18.113827,0,0.706955,98.936457,0.00000,5.654719,1854.592384,21.152932
4,60050,18.202366,0,0.633896,98.969637,0.00000,7.202626,1839.823058,20.929866
...,...,...,...,...,...,...,...,...,...
1075,85920,18.945224,0,0.097051,98.992754,0.00000,8.748208,1912.489642,23.716064
1076,85930,18.927292,0,0.258281,98.922693,0.00000,10.301976,1863.227213,22.459806
1077,85940,18.909723,0,0.308918,98.990245,0.00000,6.605528,1884.812965,22.512350
1078,85950,19.188160,0,0.256762,98.961152,0.00000,9.495882,1884.334552,23.560265
1079,90000,20.938822,0,0.300982,96.912220,0.10963,10.010055,1999.981606,24.878155

In [34]:
aod = pd.read_csv('./data/aod_0504.csv', encoding='utf-8')
aod

     Time - Plot 0  Power(kW) - Plot 0
0         07:00:10             10.4142
1         07:00:20             10.7484
2         07:00:30             11.0826
3         07:00:40             11.4168
4         07:00:50             11.7510
...            ...                 ...
1075      09:59:20            234.1310
1076      09:59:30            234.0980
1077      09:59:40            234.0660
1078      09:59:50            234.0330
1079      10:00:00            234.0000

[1080 rows x 2 columns]

In [35]:
# 문제와 답 분리
X = weather[['date_time', 'temperature', 'precipitation', 'wind_speed', 'humidity', 'radiation', 'total_cloudiness', 'visibility', 'ground_temp']]
y = aod['Power(kW) - Plot 0']

In [36]:
# 훈련용과 평가용으로 데이터 분리
# 비율은 8:2, randomstate = 504
from sklearn.model_selection import train_test_split # 훈련용, 평가용으로 데이터 분리

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=504)
X_train.head()

,date_time,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp
487,72120,18.607171,0,0.188708,99.022224,0.0,5.607489,1874.384759,21.486196
351,65840,18.429063,0,0.625102,99.020107,0.0,6.989410,1916.657663,20.027758
840,82010,18.962048,0,0.318916,99.026021,0.0,8.694109,1866.711442,22.204734
452,71530,18.826980,0,0.525701,99.026600,0.0,6.094614,1906.411195,21.675183
154,62550,18.077350,0,0.693414,98.965130,0.0,6.962360,1616.185930,20.992935

In [37]:
s_pred_model.fit(X_train, y_train)  # 지도학습 방법 (회귀)

LinearRegression()

In [41]:
# 선형 모델이 입력 특성에 대해 학습한 가중치
s_pred_model.coef_

array([ 1.05507280e-02, -6.51981954e+00, -2.78888024e-13, -8.24731949e+00,
       -6.48316378e+00, -5.08634019e+02, -1.05400045e+01,  3.01180267e-02,
       -8.76604434e+00])

In [42]:
# 절편
s_pred_model.intercept_

370.84706185750724

In [44]:
# 모델 
s_pre = s_pred_model.predict(X_test)

In [45]:
from sklearn.metrics import mean_absolute_error # 평균 절대값 오차

In [46]:
s_pred_model.score(X_test, y_test) # 평가용 문제, 평가용 답

0.9188698868281694

In [86]:
!pip install joblib

Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [87]:
# 모델 저장
import pickle
with open('s_model.pickle', 'wb') as f:
    pickle.dump(s_pred_model, f, pickle.HIGHEST_PROTOCOL)

In [88]:
with open('s_model.pickle', 'rb') as f:
    new_model = pickle.load(f)

In [89]:
new_model.predict(X_test)

array([257.42762593, 197.29113573, 219.71791131, 204.27771486,
       260.60117023, 195.94469588, 102.51395712, 167.90683324,
       252.82885858, 165.74533053, 233.67669186,  64.55266503,
       109.43165154, 177.14296342, 272.59309268, 219.84212345,
       262.94310794, 173.7322545 , 154.19291105,  70.75179258,
       241.33512025, 209.19907132, 193.60735286, 158.64444716,
        84.07632357, 275.10355688, 173.26719142, 262.72000709,
       246.04721551, 267.43283991,  61.05757579, 103.37471303,
        70.26135334, 200.92639332, 184.53513522, 239.82766644,
       269.4608716 , 205.8963807 , 239.53449033, 205.63047749,
        41.71629738,  61.87249615,  49.1807198 ,  84.2152312 ,
       245.77456919, 205.61230373, 176.2013712 ,  41.72282551,
       180.78489366,  68.04888342, 268.65628062, 183.44464374,
       220.72430439, 169.64781155, 239.86776599, 265.80517978,
        65.8550563 , 205.20339169, 172.70889952,  91.32552766,
       218.83372207, 152.76689734, 278.61700111, 224.02658515,
       222.76173763, 169.26618628,  76.34150764, 153.84726604,
       154.56374189,  61.71829166, 167.37026979, 240.49643921,
       237.07905466, 249.20917875,  58.50363699, 203.93821479,
       107.64371756, 176.57874192,  70.17963971, 200.34299543,
       186.99613763, 206.44586969,  90.35743877, 244.27552292,
       167.51092504, 228.75662582, 154.56005486, 214.99469459,
        75.02805508,  77.37675538, 172.60322818,  53.14457763,
       219.7431433 , 207.1391959 , 183.15271158, 272.87152038,
        82.68106807,  63.52380182, 211.1464791 , 234.58751621,
        68.20027642,  48.33125771,  83.4589497 , 287.37724055,
       239.74968428,  44.07780113,  46.33271851, 223.35199614,
       214.5384824 , 282.73810353,  85.05018939,  65.39068437,
        62.37596142, 156.90236872, 177.02613687, 156.81647039,
       224.7214957 , 103.7674518 ,  85.78651651,  67.53490445,
       264.82827344,  63.16822634, 150.3919362 , 240.11611653,
       173.8629984 ,  81.26965355, 164.81306729, 158.20921694,
       226.05930497,  44.06933082, 258.05792314,  84.37336895,
       195.41746726, 210.56628067, 170.31381181,  53.12427865,
        73.48216781,  90.1946347 , 195.71387353, 252.00645131,
        99.76296083,  53.55825177,  92.48544292, 282.05785079,
       290.77653257,  72.83297552, 158.31753074,  58.2996129 ,
        83.56113082, 189.97954196, 196.03790396, 188.73680869,
       233.07102118,  56.4199854 , 214.202378  , 211.10307591,
       215.02509424,  95.07423946, 228.04032014, 222.15069239,
        36.5140051 , 188.8946701 , 244.45939248, 187.53021912,
       251.60018297,  47.28488085, 174.44320182,  70.13770091,
       196.58281682, 233.89626035, 251.93012926,  55.66471352,
        82.75259657, 243.81393081, 293.68742752, 162.53122264,
       231.9430571 , 273.54811103, 161.86357047,  47.87351089,
       157.75321496,  93.99462887, 171.62926787, 101.98463502,
       271.22718616, 197.97112009,  89.39626945,  73.75367472,
       232.68126243, 178.7515682 , 159.40681977, 165.84355868,
       168.52331806, 168.57149491, 160.19259634, 157.41902594,
       159.41139981, 176.12167675, 185.82802142, 259.02865586,
       173.59926973, 202.30176449,  68.9192879 ,  51.15075049,
       208.88048284,  34.83395897, 233.32554116, 241.72391987,
       205.09304905,  78.94143613,  50.01634339,  92.04370087,
       218.32614885, 171.76850375,  46.88309932,  70.80354595])

In [70]:
test = pd.read_csv('./data/weather_050409.csv', encoding='utf-8')
test

,date_time,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp
0,90000,20.938822,0,0.300982,96.912220,0.109630,10.010055,1999.981606,24.878155
1,90010,20.294810,0,0.358722,92.907333,0.070291,9.954438,2000.023331,27.982545
2,90020,20.257064,0,0.407594,98.447857,0.116916,9.974488,1999.983233,26.390490
3,90030,19.652657,0,0.444139,93.621594,0.094525,9.950634,1999.990252,26.321891
4,90040,20.635626,0,0.298696,93.618658,0.088545,10.017615,2000.055380,24.784456
...,...,...,...,...,...,...,...,...,...
356,95920,19.880623,0,0.492466,93.381098,0.040413,9.930506,1999.906247,27.752585
357,95930,20.276046,0,0.387107,92.974195,0.012187,9.953285,2000.054798,26.961847
358,95940,20.520093,0,0.375380,93.198160,-0.014780,10.025929,2000.026368,25.958624
359,95950,20.072582,0,0.422769,97.585123,0.048698,10.046478,1999.953497,27.816882
360,100000,22.495733,0,0.666184,85.449828,0.001653,9.917301,1999.934541,28.898756

In [71]:
s_test = s_pred_model.predict(test)

In [81]:
s_ans = pd.read_csv('./data/aod_050410.csv', encoding='utf-8')

In [76]:
s_ans = ans['Power(kW) - Plot 0']
s_ans

0      233.825
1      233.651
2      233.476
3      233.302
4      233.127
        ...
355    171.838
356    171.664
357    171.489
358    171.315
359    171.140
Name: Power(kW) - Plot 0, Length: 360, dtype: float64

In [83]:
s_test

array([234.        , 257.17599782, 211.23292817, 258.50877184,
       269.23890065, 286.3761158 , 240.29943086, 302.71089274,
       262.7278005 , 249.16739505, 270.05633522, 252.80187636,
       269.84066178, 298.65324049, 267.99986933, 231.9397543 ,
       273.88188849, 237.42112985, 252.38099135, 247.07369775,
       283.87911814, 317.34019046, 231.09147735, 238.95379115,
       241.87885352, 291.47173792, 300.51578491, 248.27764351,
       293.42039223, 290.03286096, 311.25643921, 272.2335201 ,
       277.87507298, 278.51710691, 314.90267998, 275.96769075,
       274.09449354, 310.74041731, 276.21505226, 277.59378603,
       291.92311366, 288.31053989, 285.33251948, 245.18084874,
       279.91797698, 289.25362481, 256.35646779, 326.2735183 ,
       284.42662359, 285.97835516, 271.3875896 , 293.68857824,
       264.98845612, 248.42017163, 280.29398232, 301.04954276,
       288.27075891, 229.71405476, 235.73252189, 292.30615847,
       298.40047049, 281.12601469, 237.5093613 , 288.56386756,
       287.65544552, 245.39271412, 323.67690202, 283.2468952 ,
       298.3692739 , 272.31246203, 313.06552814, 287.30692399,
       284.71606337, 297.03842287, 282.03458198, 292.23618027,
       280.35088251, 293.97941688, 310.56875202, 285.83670291,
       289.19075752, 253.94783783, 309.32909813, 318.47176019,
       294.38398009, 262.52152955, 265.17027272, 300.13472985,
       287.35452872, 300.01568871, 284.0660533 , 269.62917357,
       281.50715588, 313.78242593, 275.30314372, 280.37007628,
       274.51168484, 249.36335446, 260.7981984 , 251.0334657 ,
       243.04025649, 237.22486831, 248.90686751, 315.06936058,
       273.99575529, 301.84717318, 307.33708262, 274.88655638,
       280.29602061, 305.6290259 , 275.55355691, 324.42164196,
       265.66292165, 267.47054406, 294.82856414, 273.6570566 ,
       290.07240585, 297.70122948, 303.44634192, 286.14580508,
       279.42470567, 265.69683758, 240.74764805, 310.77377758,
       264.83640995, 281.81945426, 335.62370719, 217.97369953,
       309.07110089, 295.12102224, 281.29969118, 277.05864505,
       268.67307098, 288.84037818, 317.94308305, 273.77612678,
       277.82355156, 315.73036225, 313.98411583, 291.91327794,
       300.72303837, 296.81014114, 277.20130206, 298.22947878,
       334.27159387, 300.31797095, 274.59440384, 322.60049886,
       288.91604617, 285.2913915 , 272.64425957, 282.031901  ,
       274.23576245, 304.20407605, 329.65990553, 295.90955094,
       299.68223489, 281.79531199, 300.66967441, 312.75348065,
       286.31106069, 321.77038742, 323.47154681, 302.58201253,
       342.79539451, 342.40974965, 330.5446252 , 294.50380374,
       270.97714134, 325.30068432, 321.70486114, 280.90845241,
       285.32418681, 274.79809323, 350.12184741, 292.51919426,
       263.58623066, 282.1733168 , 331.89117971, 291.28380722,
       299.46679041, 305.1365734 , 359.59190214, 297.02611284,
       278.6979352 , 294.86021062, 316.39505149, 286.39804998,
       277.93589954, 260.56822298, 280.30344505, 317.48691643,
       298.13747906, 323.4912573 , 263.76253694, 292.15255909,
       312.76799499, 301.29830929, 267.4812168 , 333.94599176,
       322.87253625, 275.04329562, 330.32952385, 318.79163963,
       291.33042254, 340.40430019, 294.86567529, 311.34541733,
       297.58603041, 274.29606886, 337.05935544, 287.45994035,
       292.40415623, 292.63598582, 274.37042791, 275.85372289,
       278.59538389, 297.14595704, 333.13795724, 355.0375616 ,
       286.70281901, 275.08423218, 321.83452629, 264.69458948,
       297.22991936, 267.99784395, 305.6091012 , 315.55915411,
       336.67743609, 308.37366614, 313.45746357, 288.02451617,
       356.37002174, 328.68392653, 315.97924175, 294.1861383 ,
       302.21408057, 307.60568187, 284.60723203, 270.1647327 ,
       346.6915639 , 352.40587642, 330.45384035, 274.22900681,
       283.52340742, 333.66730079, 281.40524547, 285.42988854,
       315.83051155, 303.7600088 , 312.69601593, 282.03279058,
       287.75199709, 290.10044919, 286.2724695 , 262.5038347 ,
       318.84595528, 286.01513412, 273.15472493, 300.01708329,
       342.85857588, 315.33063317, 310.48184412, 313.79340749,
       300.2047253 , 339.79650992, 321.0378797 , 320.15079626,
       288.55293082, 313.2828546 , 346.06830706, 310.08674862,
       269.61123679, 304.61181495, 259.44829846, 298.09965895,
       314.10169849, 343.0761013 , 290.64369962, 334.44757597,
       301.39487413, 352.68877231, 333.17952805, 333.39316009,
       308.17780403, 354.47371969, 332.14321985, 290.7870174 ,
       295.38466271, 314.11427181, 340.37736202, 330.68589778,
       316.54889305, 301.28265743, 355.99234257, 295.67351183,
       334.68087849, 351.2869444 , 330.39328041, 297.45371848,
       287.58875142, 300.1016626 , 292.41092953, 326.01265772,
       351.9826773 , 361.93150292, 348.47968456, 320.95529687,
       303.61612938, 341.60090572, 342.65599329, 356.16826178,
       317.27569697, 343.87618503, 315.87713726, 302.89473603,
       389.39191005, 347.35075702, 311.83433758, 291.37974537,
       303.44503534, 341.36123311, 334.43431461, 325.20266098,
       360.73625088, 337.57059628, 292.08635905, 334.21475082,
       335.99060539, 341.66538746, 305.17265594, 297.0618515 ,
       315.567105  , 345.35345961, 353.88090978, 376.12206256,
       336.78872064, 279.98140828, 347.21812966, 349.4165923 ,
       323.79926674, 342.21688272, 296.6427443 , 321.69367637,
       344.15302085, 316.95457076, 322.94050537, 321.83571949,
       311.03706223, 342.35899831, 321.23659638, 334.94880859,
       327.82023359, 340.11860672, 362.07850126, 391.90512944,
       335.51833198, 357.60505384, 376.50844544, 301.90423936,
       421.30936704])

In [91]:
new_test = new_model.predict(X_test[0:1])

In [92]:
new_test

array([257.42762593])