<a href="https://colab.research.google.com/github/wiiiiish/2022-machine_learning/blob/main/time_series_0509.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
!ls

data			     s_mysql_aod_pred_insert.ipynb
s_aod_pred_model_0504.ipynb  solar_code_test_0506.ipynb
s_data_220502.ipynb	     s_pred_model_0504.ipynb
s_model.pickle		     time_series_0509.ipynb
s_mysql_220503.ipynb

In [16]:
%cd drive/MyDrive/Colab\ Notebooks/2022-04-27\ 데이터

[Errno 2] No such file or directory: 'drive/MyDrive/Colab Notebooks/2022-04-27 데이터'
/content/drive/MyDrive/Colab Notebooks/2022-04-27 데이터

2022-05-07

In [6]:
import tensorflow as tf
tf.__version__

'2.8.0'

In [7]:
# import library
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow

from tensorflow.keras import optimizers
from tensorflow.keras.utils import plot_model
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.layers import Conv1D, MaxPool1D
from tensorflow.keras.layers import Dense, LSTM, RepeatVector, TimeDistributed, Flatten

from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot

%matplotlib inline
warnings.filterwarnings("ignore")
init_notebook_mode(connected=True)

# Set seeds to make the experiment more reprodecible
from tensorflow.compat.v1 import set_random_seed
from numpy.random import seed
set_random_seed(1)
seed(1)

In [46]:
# data
aod_data = pd.read_csv('./data/2020-05-03_aod.csv', encoding='utf-8')
aod_data

                  date_time   aod
0       2020-05-03 00:00:00   0.0
1       2020-05-03 00:00:10   0.0
2       2020-05-03 00:00:20   0.0
3       2020-05-03 00:00:30   0.0
4       2020-05-03 00:00:40   0.0
...                     ...   ...
155516  2020-05-20 23:59:20   0.0
155517  2020-05-20 23:59:30   0.0
155518  2020-05-20 23:59:40   0.0
155519  2020-05-20 23:59:50   0.0
155520  2020-05-21 00:00:00   0.0

[155521 rows x 2 columns]

In [47]:
# 시간 데이터 날짜 바꾸기
for i in range(155521):
  new_day = (int)(aod_data['date_time'][i][8:10]) + 2
  if new_day < 10:
    new_day = f"0{new_day}"
  else:
    new_day = f"{new_day}"
  
  timeList = list(aod_data['date_time'][i])
  timeList[8:10] = new_day
  new_date = ''.join(s for s in timeList)

  aod_data['date_time'][i] = new_date

aod_data

                  date_time   aod
0       2020-05-05 00:00:00   0.0
1       2020-05-05 00:00:10   0.0
2       2020-05-05 00:00:20   0.0
3       2020-05-05 00:00:30   0.0
4       2020-05-05 00:00:40   0.0
...                     ...   ...
155516  2020-05-22 23:59:20   0.0
155517  2020-05-22 23:59:30   0.0
155518  2020-05-22 23:59:40   0.0
155519  2020-05-22 23:59:50   0.0
155520  2020-05-23 00:00:00   0.0

[155521 rows x 2 columns]

In [48]:
# dataframe -> csv
aod_data.to_csv('./data/0505-0523_aod.csv')

In [55]:
aod_0505 = aod_data.iloc[:8640,:]
aod_0505.to_csv('./data/0505_aod')

In [56]:
weather_data = pd.read_csv("./data/weather_data.csv", encoding='utf-8')
weather_data

,date_time,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp
0,05-01 00:00:00,19.471425,0.000000,1.283509,99.085068,0.0,-0.571956,2000.060648,20.859082
1,05-01 00:00:10,19.515992,0.000000,1.288677,98.906960,0.0,3.277923,2000.042480,20.930770
2,05-01 00:00:20,19.456078,0.000000,1.053963,98.952560,0.0,0.779748,2000.018245,20.992075
3,05-01 00:00:30,19.369269,0.000000,1.215434,98.990665,0.0,0.660592,1999.990462,20.983526
4,05-01 00:00:40,19.518434,0.000000,1.225970,99.000163,0.0,4.247148,2000.043941,20.894728
...,...,...,...,...,...,...,...,...,...
527035,06-30 23:59:10,25.494836,0.237966,0.546747,90.711643,0.0,9.445173,0.000000,27.381028
527036,06-30 23:59:20,25.428284,0.278660,0.675943,90.426103,0.0,9.788200,0.000000,27.304989
527037,06-30 23:59:30,25.400970,0.161461,0.643305,90.306220,0.0,8.804747,0.000000,27.346739
527038,06-30 23:59:40,25.503257,0.083391,0.789334,90.616037,0.0,9.496567,0.000000,27.327265
527039,06-30 23:59:50,25.483887,0.103071,0.360427,90.700424,0.0,10.066069,0.000000,27.363351

In [65]:
weather_0505 = weather_data.iloc[34560:43200,:]
weather_0505

,date_time,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp
34560,05-05 00:00:00,20.561767,0.0,0.749072,98.937978,0.0,4.624748,2000.017467,21.489114
34561,05-05 00:00:10,20.569543,0.0,0.470559,98.978541,0.0,1.546086,1999.916159,21.535559
34562,05-05 00:00:20,20.552419,0.0,0.703899,98.920235,0.0,4.227162,2000.068799,21.542335
34563,05-05 00:00:30,20.514595,0.0,0.612151,98.944682,0.0,0.331357,2000.010445,21.525727
34564,05-05 00:00:40,20.556292,0.0,0.676211,99.041025,0.0,3.207824,2000.004595,21.563515
...,...,...,...,...,...,...,...,...,...
43195,05-05 23:59:10,20.823070,0.0,0.900223,99.083700,0.0,1.462444,941.224556,21.147663
43196,05-05 23:59:20,20.629803,0.0,0.901650,99.079732,0.0,1.555491,1180.409768,21.065588
43197,05-05 23:59:30,20.639215,0.0,0.908953,98.977158,0.0,0.443561,933.458536,21.096623
43198,05-05 23:59:40,20.788708,0.0,0.899667,99.015539,0.0,0.437883,985.787304,21.205976
43199,05-05 23:59:50,20.402928,0.0,0.894919,98.972037,0.0,0.702411,1011.738852,21.298229

In [68]:
weather_0505.to_csv('./data/weather_0505.csv')

2022-05-09 (월)

In [8]:
weather_0505 = pd.read_csv('./data/weather_0505.csv', encoding='utf-8')
aod_0505 = pd.read_csv('./data/0505_aod', encoding='utf-8')

In [25]:
weather_0505

,Unnamed: 0,date_time,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp
0,34560,05-05 00:00:00,20.561767,0.0,0.749072,98.937978,0.0,4.624748,2000.017467,21.489114
1,34561,05-05 00:00:10,20.569543,0.0,0.470559,98.978541,0.0,1.546086,1999.916159,21.535559
2,34562,05-05 00:00:20,20.552419,0.0,0.703899,98.920235,0.0,4.227162,2000.068799,21.542335
3,34563,05-05 00:00:30,20.514595,0.0,0.612151,98.944682,0.0,0.331357,2000.010445,21.525727
4,34564,05-05 00:00:40,20.556292,0.0,0.676211,99.041025,0.0,3.207824,2000.004595,21.563515
...,...,...,...,...,...,...,...,...,...,...
8635,43195,05-05 23:59:10,20.823070,0.0,0.900223,99.083700,0.0,1.462444,941.224556,21.147663
8636,43196,05-05 23:59:20,20.629803,0.0,0.901650,99.079732,0.0,1.555491,1180.409768,21.065588
8637,43197,05-05 23:59:30,20.639215,0.0,0.908953,98.977158,0.0,0.443561,933.458536,21.096623
8638,43198,05-05 23:59:40,20.788708,0.0,0.899667,99.015539,0.0,0.437883,985.787304,21.205976
8639,43199,05-05 23:59:50,20.402928,0.0,0.894919,98.972037,0.0,0.702411,1011.738852,21.298229

In [29]:
aod_0505

      Unnamed: 0            date_time   aod
0              0  2020-05-05 00:00:00   0.0
1              1  2020-05-05 00:00:10   0.0
2              2  2020-05-05 00:00:20   0.0
3              3  2020-05-05 00:00:30   0.0
4              4  2020-05-05 00:00:40   0.0
...          ...                  ...   ...
8635        8635  2020-05-05 23:59:10   0.0
8636        8636  2020-05-05 23:59:20   0.0
8637        8637  2020-05-05 23:59:30   0.0
8638        8638  2020-05-05 23:59:40   0.0
8639        8639  2020-05-05 23:59:50   0.0

[8640 rows x 3 columns]

In [32]:
data_sum_0505 = pd.concat([aod_0505, weather_0505], axis=1)

In [33]:
data_sum_0505

,Unnamed: 0,date_time,aod,Unnamed: 0,date_time,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp
0,0,2020-05-05 00:00:00,0.0,34560,05-05 00:00:00,20.561767,0.0,0.749072,98.937978,0.0,4.624748,2000.017467,21.489114
1,1,2020-05-05 00:00:10,0.0,34561,05-05 00:00:10,20.569543,0.0,0.470559,98.978541,0.0,1.546086,1999.916159,21.535559
2,2,2020-05-05 00:00:20,0.0,34562,05-05 00:00:20,20.552419,0.0,0.703899,98.920235,0.0,4.227162,2000.068799,21.542335
3,3,2020-05-05 00:00:30,0.0,34563,05-05 00:00:30,20.514595,0.0,0.612151,98.944682,0.0,0.331357,2000.010445,21.525727
4,4,2020-05-05 00:00:40,0.0,34564,05-05 00:00:40,20.556292,0.0,0.676211,99.041025,0.0,3.207824,2000.004595,21.563515
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8635,8635,2020-05-05 23:59:10,0.0,43195,05-05 23:59:10,20.823070,0.0,0.900223,99.083700,0.0,1.462444,941.224556,21.147663
8636,8636,2020-05-05 23:59:20,0.0,43196,05-05 23:59:20,20.629803,0.0,0.901650,99.079732,0.0,1.555491,1180.409768,21.065588
8637,8637,2020-05-05 23:59:30,0.0,43197,05-05 23:59:30,20.639215,0.0,0.908953,98.977158,0.0,0.443561,933.458536,21.096623
8638,8638,2020-05-05 23:59:40,0.0,43198,05-05 23:59:40,20.788708,0.0,0.899667,99.015539,0.0,0.437883,985.787304,21.205976
8639,8639,2020-05-05 23:59:50,0.0,43199,05-05 23:59:50,20.402928,0.0,0.894919,98.972037,0.0,0.702411,1011.738852,21.298229

In [38]:
data_sum_0505 = data_sum_0505.drop([data_sum_0505.columns[0], data_sum_0505.columns[1]], axis=1)

In [48]:
weather_0505.loc[:,'date_time']

0       05-05 00:00:00
1       05-05 00:00:10
2       05-05 00:00:20
3       05-05 00:00:30
4       05-05 00:00:40
             ...
8635    05-05 23:59:10
8636    05-05 23:59:20
8637    05-05 23:59:30
8638    05-05 23:59:40
8639    05-05 23:59:50
Name: date_time, Length: 8640, dtype: object

In [49]:
data_sum_0505['date_time'] = weather_0505.loc[:,'date_time']

data_sum_0505

,aod,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp,date_time
0,0.0,20.561767,0.0,0.749072,98.937978,0.0,4.624748,2000.017467,21.489114,05-05 00:00:00
1,0.0,20.569543,0.0,0.470559,98.978541,0.0,1.546086,1999.916159,21.535559,05-05 00:00:10
2,0.0,20.552419,0.0,0.703899,98.920235,0.0,4.227162,2000.068799,21.542335,05-05 00:00:20
3,0.0,20.514595,0.0,0.612151,98.944682,0.0,0.331357,2000.010445,21.525727,05-05 00:00:30
4,0.0,20.556292,0.0,0.676211,99.041025,0.0,3.207824,2000.004595,21.563515,05-05 00:00:40
...,...,...,...,...,...,...,...,...,...,...
8635,0.0,20.823070,0.0,0.900223,99.083700,0.0,1.462444,941.224556,21.147663,05-05 23:59:10
8636,0.0,20.629803,0.0,0.901650,99.079732,0.0,1.555491,1180.409768,21.065588,05-05 23:59:20
8637,0.0,20.639215,0.0,0.908953,98.977158,0.0,0.443561,933.458536,21.096623,05-05 23:59:30
8638,0.0,20.788708,0.0,0.899667,99.015539,0.0,0.437883,985.787304,21.205976,05-05 23:59:40
8639,0.0,20.402928,0.0,0.894919,98.972037,0.0,0.702411,1011.738852,21.298229,05-05 23:59:50

In [50]:
data_sum_0505.to_csv('./data/date_sum_0505.csv')

In [19]:
data_sum_0505 = pd.read_csv('./data/date_sum_0505.csv', encoding='utf-8')

In [21]:
date = data_sum_0505.loc[:, 'date_time']

In [42]:
new_time = []

for i in range(8640):
  new = date[i][6:].replace(":","")
  new_time.append((int)(new))

new_time

[0,
 10,
 20,
 30,
 40,
 50,
 100,
 110,
 120,
 130,
 140,
 150,
 200,
 210,
 220,
 230,
 240,
 250,
 300,
 310,
 320,
 330,
 340,
 350,
 400,
 410,
 420,
 430,
 440,
 450,
 500,
 510,
 520,
 530,
 540,
 550,
 600,
 610,
 620,
 630,
 640,
 650,
 700,
 710,
 720,
 730,
 740,
 750,
 800,
 810,
 820,
 830,
 840,
 850,
 900,
 910,
 920,
 930,
 940,
 950,
 1000,
 1010,
 1020,
 1030,
 1040,
 1050,
 1100,
 1110,
 1120,
 1130,
 1140,
 1150,
 1200,
 1210,
 1220,
 1230,
 1240,
 1250,
 1300,
 1310,
 1320,
 1330,
 1340,
 1350,
 1400,
 1410,
 1420,
 1430,
 1440,
 1450,
 1500,
 1510,
 1520,
 1530,
 1540,
 1550,
 1600,
 1610,
 1620,
 1630,
 1640,
 1650,
 1700,
 1710,
 1720,
 1730,
 1740,
 1750,
 1800,
 1810,
 1820,
 1830,
 1840,
 1850,
 1900,
 1910,
 1920,
 1930,
 1940,
 1950,
 2000,
 2010,
 2020,
 2030,
 2040,
 2050,
 2100,
 2110,
 2120,
 2130,
 2140,
 2150,
 2200,
 2210,
 2220,
 2230,
 2240,
 2250,
 2300,
 2310,
 2320,
 2330,
 2340,
 2350,
 2400,
 2410,
 2420,
 2430,
 2440,
 2450,
 2500,
 2510,
 2520,
 2530,
 2540,
 2550,
 2600,
 2610,
 2620,
 2630,
 2640,
 2650,
 2700,
 2710,
 2720,
 2730,
 2740,
 2750,
 2800,
 2810,
 2820,
 2830,
 2840,
 2850,
 2900,
 2910,
 2920,
 2930,
 2940,
 2950,
 3000,
 3010,
 3020,
 3030,
 3040,
 3050,
 3100,
 3110,
 3120,
 3130,
 3140,
 3150,
 3200,
 3210,
 3220,
 3230,
 3240,
 3250,
 3300,
 3310,
 3320,
 3330,
 3340,
 3350,
 3400,
 3410,
 3420,
 3430,
 3440,
 3450,
 3500,
 3510,
 3520,
 3530,
 3540,
 3550,
 3600,
 3610,
 3620,
 3630,
 3640,
 3650,
 3700,
 3710,
 3720,
 3730,
 3740,
 3750,
 3800,
 3810,
 3820,
 3830,
 3840,
 3850,
 3900,
 3910,
 3920,
 3930,
 3940,
 3950,
 4000,
 4010,
 4020,
 4030,
 4040,
 4050,
 4100,
 4110,
 4120,
 4130,
 4140,
 4150,
 4200,
 4210,
 4220,
 4230,
 4240,
 4250,
 4300,
 4310,
 4320,
 4330,
 4340,
 4350,
 4400,
 4410,
 4420,
 4430,
 4440,
 4450,
 4500,
 4510,
 4520,
 4530,
 4540,
 4550,
 4600,
 4610,
 4620,
 4630,
 4640,
 4650,
 4700,
 4710,
 4720,
 4730,
 4740,
 4750,
 4800,
 4810,
 4820,
 4830,
 4840,
 4850,
 4900,
 4910,
 4920,
 4930,
 4940,
 4950,
 5000,
 5010,
 5020,
 5030,
 5040,
 5050,
 5100,
 5110,
 5120,
 5130,
 5140,
 5150,
 5200,
 5210,
 5220,
 5230,
 5240,
 5250,
 5300,
 5310,
 5320,
 5330,
 5340,
 5350,
 5400,
 5410,
 5420,
 5430,
 5440,
 5450,
 5500,
 5510,
 5520,
 5530,
 5540,
 5550,
 5600,
 5610,
 5620,
 5630,
 5640,
 5650,
 5700,
 5710,
 5720,
 5730,
 5740,
 5750,
 5800,
 5810,
 5820,
 5830,
 5840,
 5850,
 5900,
 5910,
 5920,
 5930,
 5940,
 5950,
 10000,
 10010,
 10020,
 10030,
 10040,
 10050,
 10100,
 10110,
 10120,
 10130,
 10140,
 10150,
 10200,
 10210,
 10220,
 10230,
 10240,
 10250,
 10300,
 10310,
 10320,
 10330,
 10340,
 10350,
 10400,
 10410,
 10420,
 10430,
 10440,
 10450,
 10500,
 10510,
 10520,
 10530,
 10540,
 10550,
 10600,
 10610,
 10620,
 10630,
 10640,
 10650,
 10700,
 10710,
 10720,
 10730,
 10740,
 10750,
 10800,
 10810,
 10820,
 10830,
 10840,
 10850,
 10900,
 10910,
 10920,
 10930,
 10940,
 10950,
 11000,
 11010,
 11020,
 11030,
 11040,
 11050,
 11100,
 11110,
 11120,
 11130,
 11140,
 11150,
 11200,
 11210,
 11220,
 11230,
 11240,
 11250,
 11300,
 11310,
 11320,
 11330,
 11340,
 11350,
 11400,
 11410,
 11420,
 11430,
 11440,
 11450,
 11500,
 11510,
 11520,
 11530,
 11540,
 11550,
 11600,
 11610,
 11620,
 11630,
 11640,
 11650,
 11700,
 11710,
 11720,
 11730,
 11740,
 11750,
 11800,
 11810,
 11820,
 11830,
 11840,
 11850,
 11900,
 11910,
 11920,
 11930,
 11940,
 11950,
 12000,
 12010,
 12020,
 12030,
 12040,
 12050,
 12100,
 12110,
 12120,
 12130,
 12140,
 12150,
 12200,
 12210,
 12220,
 12230,
 12240,
 12250,
 12300,
 12310,
 12320,
 12330,
 12340,
 12350,
 12400,
 12410,
 12420,
 12430,
 12440,
 12450,
 12500,
 12510,
 12520,
 12530,
 12540,
 12550,
 12600,
 12610,
 12620,
 12630,
 12640,
 12650,
 12700,
 12710,
 12720,
 12730,
 12740,
 12750,
 12800,
 12810,
 12820,
 12830,
 12840,
 12850,
 12900,
 12910,
 12920,
 12930,
 12940,
 12950,
 13000,
 13010,
 13020,
 13030,
 13040,
 13050,
 13100,
 13110,
 13120,
 13130,
 13140,
 13150,
 13200,
 13210,
 13220,
 13230,
 13240,
 13250,
 13300,
 13310,
 13320,
 13330,
 13340,
 13350,
 13400,
 13410,
 13420,
 13430,
 13440,
 13450,
 13500,
 13510,
 13520,
 13530,
 13540,
 13550,
 13600,
 13610,
 13620,
 13630,
 13640,
 13650,
 13700,
 13710,
 13720,
 13730,
 13740,
 13750,
 13800,
 13810,
 13820,
 13830,
 13840,
 13850,
 13900,
 13910,
 13920,
 13930,
 13940,
 13950,
 14000,
 14010,
 14020,
 14030,
 14040,
 14050,
 14100,
 14110,
 14120,
 14130,
 14140,
 14150,
 14200,
 14210,
 14220,
 14230,
 14240,
 14250,
 14300,
 14310,
 14320,
 14330,
 14340,
 14350,
 14400,
 14410,
 14420,
 14430,
 14440,
 14450,
 14500,
 14510,
 14520,
 14530,
 14540,
 14550,
 14600,
 14610,
 14620,
 14630,
 14640,
 14650,
 14700,
 14710,
 14720,
 14730,
 14740,
 14750,
 14800,
 14810,
 14820,
 14830,
 14840,
 14850,
 14900,
 14910,
 14920,
 14930,
 14940,
 14950,
 15000,
 15010,
 15020,
 15030,
 15040,
 15050,
 15100,
 15110,
 15120,
 15130,
 15140,
 15150,
 15200,
 15210,
 15220,
 15230,
 15240,
 15250,
 15300,
 15310,
 15320,
 15330,
 15340,
 15350,
 15400,
 15410,
 15420,
 15430,
 15440,
 15450,
 15500,
 15510,
 15520,
 15530,
 15540,
 15550,
 15600,
 15610,
 15620,
 15630,
 15640,
 15650,
 15700,
 15710,
 15720,
 15730,
 15740,
 15750,
 15800,
 15810,
 15820,
 15830,
 15840,
 15850,
 15900,
 15910,
 15920,
 15930,
 15940,
 15950,
 20000,
 20010,
 20020,
 20030,
 20040,
 20050,
 20100,
 20110,
 20120,
 20130,
 20140,
 20150,
 20200,
 20210,
 20220,
 20230,
 20240,
 20250,
 20300,
 20310,
 20320,
 20330,
 20340,
 20350,
 20400,
 20410,
 20420,
 20430,
 20440,
 20450,
 20500,
 20510,
 20520,
 20530,
 20540,
 20550,
 20600,
 20610,
 20620,
 20630,
 20640,
 20650,
 20700,
 20710,
 20720,
 20730,
 20740,
 20750,
 20800,
 20810,
 20820,
 20830,
 20840,
 20850,
 20900,
 20910,
 20920,
 20930,
 20940,
 20950,
 21000,
 21010,
 21020,
 21030,
 21040,
 21050,
 21100,
 21110,
 21120,
 21130,
 21140,
 21150,
 21200,
 21210,
 21220,
 21230,
 21240,
 21250,
 21300,
 21310,
 21320,
 21330,
 21340,
 21350,
 21400,
 21410,
 21420,
 21430,
 21440,
 21450,
 21500,
 21510,
 21520,
 21530,
 21540,
 21550,
 21600,
 21610,
 21620,
 21630,
 21640,
 21650,
 21700,
 21710,
 21720,
 21730,
 21740,
 21750,
 21800,
 21810,
 21820,
 21830,
 21840,
 21850,
 21900,
 21910,
 21920,
 21930,
 21940,
 21950,
 22000,
 22010,
 22020,
 22030,
 22040,
 22050,
 22100,
 22110,
 22120,
 22130,
 22140,
 22150,
 22200,
 22210,
 22220,
 22230,
 22240,
 22250,
 22300,
 22310,
 22320,
 22330,
 22340,
 22350,
 22400,
 22410,
 22420,
 22430,
 22440,
 22450,
 22500,
 22510,
 22520,
 22530,
 22540,
 22550,
 22600,
 22610,
 22620,
 22630,
 22640,
 22650,
 22700,
 22710,
 22720,
 22730,
 22740,
 22750,
 22800,
 22810,
 22820,
 22830,
 22840,
 22850,
 22900,
 22910,
 22920,
 22930,
 22940,
 22950,
 23000,
 23010,
 23020,
 23030,
 23040,
 23050,
 23100,
 23110,
 23120,
 23130,
 23140,
 23150,
 23200,
 23210,
 23220,
 23230,
 23240,
 23250,
 23300,
 23310,
 23320,
 23330,
 23340,
 23350,
 23400,
 23410,
 23420,
 23430,
 23440,
 23450,
 23500,
 23510,
 23520,
 23530,
 23540,
 23550,
 23600,
 23610,
 23620,
 23630,
 23640,
 23650,
 23700,
 23710,
 23720,
 23730,
 23740,
 23750,
 23800,
 23810,
 23820,
 23830,
 23840,
 23850,
 23900,
 23910,
 23920,
 23930,
 23940,
 23950,
 24000,
 24010,
 24020,
 24030,
 24040,
 24050,
 24100,
 24110,
 24120,
 24130,
 24140,
 24150,
 24200,
 24210,
 24220,
 24230,
 24240,
 24250,
 24300,
 24310,
 24320,
 24330,
 24340,
 24350,
 24400,
 24410,
 24420,
 24430,
 24440,
 24450,
 24500,
 24510,
 24520,
 24530,
 24540,
 24550,
 24600,
 24610,
 24620,
 24630,
 ...]

In [45]:
s_time_0505 = pd.DataFrame(new_time)
s_time_0505

           0
0          0
1         10
2         20
3         30
4         40
...      ...
8635  235910
8636  235920
8637  235930
8638  235940
8639  235950

[8640 rows x 1 columns]

In [47]:
data_sum_0505['date_time'] = new_time

In [48]:
data_sum_0505

,Unnamed: 0,aod,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp,date_time
0,0,0.0,20.561767,0.0,0.749072,98.937978,0.0,4.624748,2000.017467,21.489114,0
1,1,0.0,20.569543,0.0,0.470559,98.978541,0.0,1.546086,1999.916159,21.535559,10
2,2,0.0,20.552419,0.0,0.703899,98.920235,0.0,4.227162,2000.068799,21.542335,20
3,3,0.0,20.514595,0.0,0.612151,98.944682,0.0,0.331357,2000.010445,21.525727,30
4,4,0.0,20.556292,0.0,0.676211,99.041025,0.0,3.207824,2000.004595,21.563515,40
...,...,...,...,...,...,...,...,...,...,...,...
8635,8635,0.0,20.823070,0.0,0.900223,99.083700,0.0,1.462444,941.224556,21.147663,235910
8636,8636,0.0,20.629803,0.0,0.901650,99.079732,0.0,1.555491,1180.409768,21.065588,235920
8637,8637,0.0,20.639215,0.0,0.908953,98.977158,0.0,0.443561,933.458536,21.096623,235930
8638,8638,0.0,20.788708,0.0,0.899667,99.015539,0.0,0.437883,985.787304,21.205976,235940
8639,8639,0.0,20.402928,0.0,0.894919,98.972037,0.0,0.702411,1011.738852,21.298229,235950

In [49]:
data_sum_0505.to_csv('./data/train_0505.csv')